@mixin breakpoint($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == large-tablet {
    @media (min-width: 1024px) and (max-width: 1300px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: 1599px) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (max-width: 1919px) {
      @content;
    }
  } @else if $breakpoint == extra-large-desktop {
    @media (min-width: 1920px) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint provided. Please use 'mobile', 'tablet', 'large-tablet', 'desktop', 'large-desktop', or 'extra-large-desktop'.";
  }
}

.popular-articles-block{
  padding-bottom: 70px;
  .popular-articles-title{
    display: flex;
    max-width: 1600px;
    margin: 0 auto 20px;
    @include breakpoint(desktop){
      padding: 0 16px;
      max-width: 1200px;
    }
    h2{
      background: var(--3, linear-gradient(97deg, #0C62FD 0%, #1035B8 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      font-size: 30px;
      font-style: italic;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .container{
    display: flex;
    gap: 75px;
    @include breakpoint(desktop){
      padding: 0 16px;
    }
    @include breakpoint(tablet){
      gap: 25px;
    }
    @include breakpoint(mobile){
      flex-direction: column;
      gap: 30px;
    }
  }
}
