@import "./breakpoints";

.events-title{
  margin: 0 auto 60px;
  width: 100%;
  text-align: center;
  @include breakpoint(mobile){
    color: #EDEDFF;
    text-align: center;
    font-size: 38.5px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
}
.events {
  display: flex;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 60px 0 200px;
  background-position: center;
  overflow: hidden;
  flex-direction: column;
  @media (min-width: 1600px) {
    max-height: 700px;
  }
  @include breakpoint(desktop) {
    padding: 90px 0;
    background-position: center top 100px;
  }
  @include breakpoint(mobile) {
    background-image: none !important;
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .container {
    display: flex;
    border-radius: 58px;
    position: relative;
    box-sizing: border-box;
    z-index: 100;
    background: linear-gradient(104.57deg, #00E291 0.03%, rgba(0, 226, 145, 0) 77.28%);
    max-width: 1500px;
    padding: 60px 30px 60px 30px;
    align-items: center;
    @include breakpoint(large-desktop) {
      padding: 60px 30px 60px 0;

    }
    @include breakpoint(desktop){
      max-width: 1200px;
      padding:  50px 0  50px 0 ;
    }
    @include breakpoint(large-tablet){
      max-width: 95%;
    }
    @include breakpoint(tablet) {
      flex-direction: column;
      height: 100%;
      padding: 40px;
      max-width: 100%;
      width: 100%;
    }
    @include breakpoint(mobile) {
      padding: 15px 0;
      border-radius: 20px;
      background: none;
      margin: 0;
      max-width: 100%;
    }

    &:before {
      position: absolute;
      width: 100%;
      background: #100F0F;
      content: '';
      z-index: 1;
      top: 4px;
      bottom: 4px;
      left: 4px;
      right: 4px;
      border: 2px solid transparent;
      border-radius: 56px;
      @include breakpoint(mobile) {
        border-radius: 20px;
        background: none;
      }
    }

    &:after {
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      background: linear-gradient(99.66deg, #00E291 0%, rgba(16, 15, 15, 0) 100%);
      content: '';
      z-index: -2;
      border-radius: 58px;
      filter: blur(25px);
      @include breakpoint(mobile) {
        border-radius: 20px;
        background: none;
      }
    }

    .events-navigation {
      max-width: 90%;
      margin: 0 auto;
      width: 100%;
      padding-left: 60px;
      padding-right: 30px;
      height: 480px;
      @include breakpoint(desktop) {
        max-width: 100%;
        height: 400px;
        padding: 0 0 0 60px;
      }
      @media screen and (min-width: 1024px) and (max-width: 1279px) {
        height: 350px;
      }
      @include breakpoint(tablet) {
        height: auto;
        margin: 0 auto 40px;
        padding-bottom: 40px;
        padding: 0 0 40px 0;
      }
      @include breakpoint(mobile) {
        max-width: 100%;
        padding: 0 0 40px 0;
      }

      .swiper-slide-thumb-active {
        .logo-container {
          background: #EDEDFF !important;
        }
      }

      .swiper-slide {
        color: #0c0c0c;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-container {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 56px;
          height: 86px;
          width: 100%;
          position: relative;
          background: linear-gradient(97.82deg, #00E291 0%, #E0F01E 99.95%);
          @include breakpoint(desktop){
            height: 65px;
            max-width: 200px;
            img{
              max-width: 100px;
            }
          }
          @media screen and (min-width: 1024px) and (max-width: 1279px) {
            height: 71px;
          }
          @include breakpoint(mobile){
            height: 56px;
            img{
              max-width: 100px;
            }
          }

          &:after {
            position: absolute;
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;
            background: #0c0c0c;
            content: '';
            z-index: 2;
            border: 2px solid;
            border-radius: 56px;
            @include breakpoint(desktop) {
              top: 3px;
              bottom: 3px;
              left: 3px;
              right: 3px;
            }
          }

          img {
            max-width: 160px;
            z-index: 3;
            position: relative;
            @include breakpoint(desktop) {
              max-width: 120px;
            }
            @include breakpoint(mobile) {
              max-width: 110px;
            }
          }
        }
      }

      .swiper-navigation-pagination {
        bottom: 0;
        z-index: -1;
        .swiper-vertical > .swiper-pagination-bullets {
          left: 0;
          top: 50%;
          transform: translate3d(0px, -50%, 0);
        }

        .swiper-pagination-bullet {
          background-color: #00E291;
        }
      }

    }

    .events-content {
      background: #100F0F;
      @include breakpoint(desktop) {
        margin-left: 20px;
        max-width: 100%;
      }
      @include breakpoint(tablet) {
        margin: 0 auto;
      }
      @include breakpoint(mobile) {
        max-width: 90%;
      }

      .swiper-wrapper {
        @media screen and (min-width: 1024px) and (max-width: 1279px) {
          align-items: center;
        }
      }

      .swiper-slide {
        background: #100F0F;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slide-container {
          display: flex;
          height: auto;
          color: #EDEDFF;
          @include breakpoint(tablet) {
            flex-direction: column;
            max-width: 100%;
          }

          .event-details {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-left: 40px;
            @include breakpoint(desktop) {
              padding-right: 30px;
            }
            @media screen and (min-width: 1024px) and (max-width: 1279px) {
              margin-left: 20px;
              max-width: 44%;
              padding-right: 0;
            }
            @include breakpoint(tablet) {
              padding-right: 0;
              justify-content: start;
              margin-left: 0;
            }
            @include breakpoint(mobile) {
              margin-left: 0;
              max-width: 100%;
              margin-top: auto;

            }

            .title-container {
              display: flex;
              p {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 10px;
                &:first-child{
                  margin-right: 25px;
                }
                @include breakpoint(desktop) {
                  font-size: 18px;
                }
                @include breakpoint(mobile){
                  margin-bottom: 20px;
                }
              }
            }

            .event-title {
              font-style: normal;
              font-weight: 700;
              line-height: 99.84%;
              margin-bottom: 30px;
              margin-top: 30px;
              font-size: 34px;
              color: #EDEDFF;
              @include breakpoint(tablet){
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 99.836%;
                letter-spacing: -0.12px;
                text-transform: uppercase;
                margin-top: 20px;
              }
              @include breakpoint(large-tablet){
                font-size: 24px;
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }

            p {
              font-style: normal;
              font-weight: 500;
              font-size: 22px;
              line-height: 120%;
              color: #EDEDFF;
              margin: 0;
              @include breakpoint(desktop){
                font-size: 18px;
              }
              @include breakpoint(large-tablet){
                font-size: 16px;
              }

            }

            .links-container {
              display: flex;
              justify-content: space-between;
              padding-top: 10px;
              margin-top: auto;
              @include breakpoint(desktop){
                margin-top: auto;
              }
             @media (max-width: 1023px){
                justify-content: start;
                margin-bottom: auto;
                margin-top: 10px;
              }
              @include breakpoint(mobile){
                justify-content: space-between;
                width: 100%;
                padding-top: 0;
                margin-top: 45px;
              }


              .read-article, .see-more {
                border-radius: 100px;
                padding: 15px 20px;
                text-decoration: none;
                color: #EDEDFF;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
                transition: all 0.3s linear;
                @include breakpoint(desktop) {
                  font-size: 20px;
                  padding: 10px 15px;
                  svg {
                    max-width: 15px;
                  }
                }
                @include breakpoint(tablet) {
                  font-size: 16px;
                }
                @include breakpoint(mobile) {
                  font-size: 16px;
                }
                &:hover{
                  svg{
                    transform: translateX(5px);
                  }
                }
                svg {
                  margin-left: 10px;
                  transition: all 0.3s linear;
                }
              }

              .read-article {
                background: linear-gradient(135deg, #00E291 0%, #E0F01E 100%);
                position: relative;
                z-index: 1;
                border: none;
                transition: 0.3s linear;
                @include breakpoint(tablet){
                  margin-left: 20px;
                }

                &:hover {
                  color: #100F0F;

                  path {
                    stroke: #100F0F;
                  }

                  &:after {
                    background: transparent;
                  }
                }

                &::after {
                  position: absolute;
                  top: 2px;
                  bottom: 2px;
                  left: 2px;
                  right: 2px;
                  background: #0c0c0c;
                  content: "";
                  z-index: 2;
                  border-radius: 56px;
                }

                span, svg {
                  position: relative;
                  z-index: 5;
                }
              }

            }
          }
        }

        @media (min-width: 1024px) and (max-width: 1279px) {
          img {
            max-width: 380px;
            height: fit-content;
          }

        }

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 35px;
          border: 2px solid #0C62FD;
          margin: 0;
          height: auto;
          @include breakpoint(desktop){
            max-width: 50%;

          }
          @include breakpoint(tablet) {
            max-width: 100%;
            margin: 0 auto 20px;

          }
          @include breakpoint(mobile){
            height: auto;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

.see-more {
  transition: 0.3s linear;
  color: #FFFFFF;
  background: linear-gradient(135deg, #0C62FD 0%, #1035B8 100%);
  border-radius: 100px;
  padding: 15px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 25px;
  @include breakpoint(desktop) {
    padding: 10px 15px;
  }
  @include breakpoint(tablet) {
    font-size: 20px;
    max-width: 300px;
  }

  &:hover {
    background: #0C62FD;
  }
}