:root {
  --primary-color: #00E291;
}

@import "../breakpoints";
nav {
  width: auto;
}

input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
select:focus:not([readonly]),
textarea:focus:not([readonly]) {
  border-bottom: 1.5px solid #00E291 !important;
  box-shadow: 0 1px 0 0 #00E291 !important;
  color: #FFFFFF;
}

input {
  &[aria-invalid="true"] {
    border-bottom: 1.5px solid red !important;
  }
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1.5px solid #00E291;

}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  color: #FFF;
}

.register-form .register-form-container form {
  @include breakpoint(mobile) {
    flex-direction: column;
  }
}

.register-form {
  background: #100F0F;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  @include breakpoint(desktop) {
    padding-top: 40px;
    padding-bottom: 100px;
    background-size: 115% 110%;
  }
  @media (max-width: 1200px) {
    background-image: none !important;
  }
  @media (max-width: 840px) {
    height: auto;
  }

  .input-field {
    margin-top: auto;
    margin-bottom: auto;
  }

  .register-form-title {
    margin-top: 0;
    background: linear-gradient(90.51deg, #00E291 0%, #E0F01E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    text-align: center;
    margin-bottom: 210px;
    text-transform: uppercase;

    @include breakpoint(large-desktop) {
      margin-bottom: 85px;
    }
    @include breakpoint(desktop) {
      margin-bottom: 60px;
      font-size: 60px;
    }
    @media (max-width: 840px) {
      max-width: 480px;
      font-size: 56px;
      margin: 0 auto 70px;
    }
    @media (max-width: 768px) {
      font-size: 31px;
      font-style: italic;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 58px;
    }
  }

  .register-form-container {
    max-width: 1600px;
    margin: 0 auto;
    @include breakpoint(desktop) {
      max-width: 1200px;
      padding: 0 10px;
    }
    @include breakpoint(mobile) {
      padding: 0 24px;
    }

    form {
      display: flex;
      justify-content: space-between;

      @include breakpoint(desktop) {
        justify-content: start;
      }
      @include breakpoint(large-desktop) {
        justify-content: space-around;
      }
      @include breakpoint(tablet) {

      }

      .check-box {
        @include breakpoint(desktop) {
          margin-bottom: 20px !important;
        }
      }

      .row {
        margin-bottom: 45px;

        .error-form-message {
          color: #F63349;

        }

        &.register-checkbox-container {
          margin-bottom: 30px;
        }

        label {

          //@include breakpoint(desktop){
          //  font-size: 16px;
          //}
        }

        &:last-child {
          margin-bottom: 0;
          @include breakpoint(mobile) {
            margin-bottom: 45px;
          }
        }

        &.have-account {
          margin-bottom: 25px;

          p {
            margin: 0;
            color: #EDEDFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 91.182%;

            a {
              color: #00E291;
            }

            @include breakpoint(desktop) {
              font-size: 16px;
            }
            @include breakpoint(mobile) {
              line-height: normal;
              font-size: 20px;
              text-align: center;
              max-width: 70%;
              margin: 0 auto;
            }
          }
        }

        .checkbox-name {
          color: white;

          a {
            color: #00E291;
          }
        }

        [type=checkbox] + span:not(.lever) {
          position: relative;
          padding-left: 49px;
        }
      }

      .select-wrapper + label {
        font-size: 0.9rem;
        top: -30px;

      }

      .input-field > label {
        color: #00E291;
      }

      label.active {
        color: #00E291 !important;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 700;
        @include breakpoint(desktop) {
          font-size: 20px;
          line-height: normal;
        }
        @include breakpoint(tablet) {
          font-size: 18px;
        }
      }

      .first-column {
        margin-right: 25px;

      }

      .first-column, .second-column {
        max-width: 400px;
        width: 100%;
        @media (max-width: 840px) {
          max-width: 100%;
        }
      }

      .three-column {
        width: auto;
      }

      .form-column {
        max-width: 400px;
        width: 100%;
        margin-right: 20px;
        @include breakpoint(desktop) {

        }

        &:first-child {
          margin-right: 70px;
        }

        @include breakpoint(large-tablet) {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        @include breakpoint(tablet) {
          margin-right: 0;
          max-width: 45%;
          width: 100%;
        }
        @include breakpoint(mobile) {
          max-width: 100%;
        }
      }

      .form-submit-button {
        button {
          background: linear-gradient(93.12deg, #00E291 0%, #E0F01E 100%);
          border-radius: 85.0877px;
          color: #100F0F;
          font-style: normal;
          font-weight: 700;
          font-size: 25.5263px;
          padding: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s linear;
          margin: 0 auto;
          @include breakpoint(desktop) {
            padding: 25px;
          }

          svg {
            margin-left: 10px;
          }

          &:hover {
            background: #00E291;
          }
        }
      }

      .register-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        border: 1px solid #00E291;
        border-radius: 5px;
        margin-bottom: 50px;
        @include breakpoint(mobile) {
          margin-bottom: 28px;
        }

        [type="checkbox"] + span:not(.lever) {
          padding-left: 50px;
          color: #FFFFFF;

          a {
            color: #00E291;
          }
        }
      }

      [type="checkbox"].filled-in:checked + span:not(.lever):after {
        width: 30px;
        height: 30px;
        background: black;
        border: 2.00499px solid #00E291;
        color: #00E291;
        @include breakpoint(desktop) {
          width: 25px;
          height: 25px;
        }
      }

      [type="checkbox"].filled-in:checked + span:not(.lever):before {
        left: 5px;
        top: 5px;
        width: 10px;
        @include breakpoint(desktop) {
          top: 1px;
          left: 2px;
        }
      }

      [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
        border: 2.00499px solid #00E291;
        width: 30px;
        height: 30px;
        @include breakpoint(desktop) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.forms-button {
  max-width: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(97.82deg, #00E291 0%, #E0F01E 99.95%);
  border-radius: 78px;
  text-transform: uppercase;
  color: #100F0F;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
  height: 62px;
  position: relative;
  transition: 0.6s linear;
  margin-top: 0;
  @include breakpoint(desktop) {
    height: 50px;
  }
  @include breakpoint(mobile) {
    width: 160px;
    padding: 10px 15px;
  }

  &:hover {
    background: #E0F01E;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 78px;
  }

  .forms-button-svg {
    margin-left: 7px;
  }
}

.restore-password {
  .form-links {
    color: #EDEDFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 91.182%;

    svg {
      margin-left: 5px;
    }
  }
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  @include breakpoint(mobile) {
    background-image: none !important;
  }

  h2 {
    background: linear-gradient(90.51deg, #00E291 0%, #E0F01E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 100%;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 74px;
    @include breakpoint(desktop) {
      margin-bottom: 37px;
    }

  }

  form {
    border-radius: 55px;
    padding: 63px;
    position: relative;
    max-width: 550px;
    width: 100%;
    z-index: 2;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(154.13deg, #00E291 0%, #E0F01E 100.03%);
    @include breakpoint(desktop) {
      padding: 40px;
      max-width: 400px;
    }
    @include breakpoint(mobile) {
      padding: 40px 20px;
      border-radius: 30px;
      margin: 0 15px;
    }

    &:before {
      background: #100F0F;
      content: '';
      width: 99%;
      height: 99%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 55px;
      z-index: -1;
      margin: auto;
      @media (max-width: 768px) {
        border-radius: 30px;
      }
    }

    input:-webkit-autofill, input.autofilled {
      color: black !important;
      background-color: #4CAF50;
    }

    .input-field {
      width: 100%;
      margin-bottom: 37px;
      @include breakpoint(desktop) {
        margin-bottom: 35px;
      }

      label {
        text-transform: uppercase;
        color: #00E291;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 0.5;
        @include breakpoint(desktop) {
          font-size: 22px;
        }
        @include breakpoint(mobile) {
          font-size: 18px;
        }
      }

      input {
        border-bottom: 1.5px #EDEDFF solid;
        color: #FFFFFF;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 118.8%;
        letter-spacing: -0.095px;
        box-sizing: border-box;
        background: #100F0F !important;
        @include breakpoint(desktop) {
          font-size: 18px;
          height: 40px;
        }
        @include breakpoint(mobile) {
          font-size: 15px;
        }
      }

      .forms-button {
        margin-top: 0;
      }
    }

    .form-links-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      @include breakpoint(desktop) {
        margin-top: 25px;
      }

      .form-links {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        color: #EDEDFF;
        margin-bottom: 20px;
        transition: 0.3s linear;
        @include breakpoint(desktop) {
          font-size: 18px;
          margin-bottom: 15px;
        }

        &:hover {
          background: linear-gradient(97.82deg, #00E291 0%, #E0F01E 99.95%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          path {
            stroke: #E0F01E;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .flex-container {
      display: flex;
      margin-top: 45px;

      .form-links {
        &:first-child {
          margin-right: 30px;
        }
      }

    }
  }
}


.select-wrapper input.select-dropdown {
  color: #ffffff;
}

.select-wrapper .caret {
  fill: #ffffff;
}

.material-icons {
  display: none;
}

.custom-icon {
  width: 15px;
  height: 14px;
  background-image: url('./icon/flag/en.svg');
}

.select-wrapper input.select-dropdown:focus {
  border-bottom-color: #00E291;
}

.dropdown-content li span {
  color: #0c0c0c;
}

.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom-color: var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}

//.input-field input[type="email"] + label,
//.input-field input[type="password"] + label {
//  color: var(--primary-color) !important;
//}

.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: var(--primary-color) !important;
}

#login-form {
  .message {
    margin-top: 20px;
    font-size: 14px;
  }

  .forms-button {
    margin-top: 40px;
  }
}

#resetPasswordForm {
  .input-field {
    margin-bottom: 0;
  }

  .message {
    margin-top: 20px;
    font-size: 14px;
  }

  .forms-button {
    margin-top: 40px;
  }
}

#changePasswordForm {
  .message {
    margin-top: 20px;
  }

  .forms-button {
    margin-top: 40px;
  }
}

.restore-password {
  h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(mobile) {
      font-size: 26px;
      text-transform: uppercase;
    }
  }
}

.change-password {
  h2 {
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
  }
}

.select-wrapper input.select-dropdown {
  @include breakpoint(desktop) {
    height: 40px;
  }
}

.dropdown-content li {
  min-height: 40px;
  margin-bottom: 0;

  span {
    padding: 10px;
  }
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background-color: #0c0c0c!important;
}

.input-field > input[type]:-webkit-autofill:not(.browser-default):not([type=search]) + label, .input-field > input[type=date]:not(.browser-default) + label, .input-field > input[type=time]:not(.browser-default) + label {
  transform: translateY(-28px) scale(0.9);
}

.g-recaptcha {
  margin-bottom: 30px;
}

.restore-password {
  input {
    margin-bottom: 20px;
  }
}
